<div class="box box-primary">
    <div class="box-header with-border filtro-grilla">
        <span class="txt-titulo-box">Resumen de Tarjeta</span>
    </div>
    <div class="box-body">
        <form id="filtroForm" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nroTarjetaFiltro">Nro. de Tarjeta</label>
                        <input type="text" id="nroTarjetaFiltro" name="nroTarjetaFiltro" class="form-control" placeholder="Buscar por nro. de tarjeta..." />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nroDocumentoFiltro">Nro. de Documento</label>
                        <input type="text" id="nroDocumentoFiltro" name="nroDocumentoFiltro" class="form-control" placeholder="Buscar por nro. de documento..." />
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-end">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="margin-top: 1.5rem;">
                            <i class="fa fa-search"></i> Filtrar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
