@model string
@{
    ViewData["Title"] = "Nueva País";
}
@*<div class="container">
   <img src="data:image/jpeg;base64,@Model" alt="Imagen" />
</div>*@

<body class="hold-transition layout-top-nav">
    <div class="wrapper">
            <section class="content">
                <div class="">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                    <!-- Aquí está la imagen centrada -->
                                    <div class="text-center">
                                        <img src="data:image/jpeg;base64,@Model" alt="Imagen" style="width:59%" class="img-fluid">
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </div>
</body>