@{
	Layout = null;
}


<div id=":2ai" class="a3s aiL msg7240355409152450482">
	<div class="adM"> </div>
	<div dir="ltr" style="margin:0px;width:100%;background-color:#f3f2f0;padding:0px;padding-top:8px;font-family:-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue','Fira Sans',Ubuntu,Oxygen,'Oxygen Sans',Cantarell,'Droid Sans','Apple Color Emoji','Segoe UI Emoji','Segoe UI Emoji','Segoe UI Symbol','Lucida Grande',Helvetica,Arial,sans-serif">
		<div class="adM"> </div>
		<div style="height:0px;max-height:0;width:0px;overflow:hidden;opacity:0">Su token es TextoTokenReemplazar</div>
		<div style="height:0px;max-height:0;width:0px;overflow:hidden;opacity:0"> ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; ͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp;͏&nbsp; </div>
		<table role="presentation" valign="top" border="0" cellspacing="0" cellpadding="0" width="512" align="center" class="m_7240355409152450482mercado-container" style="margin-top:0px;margin-bottom:0px;margin-left:auto;margin-right:auto;width:512px;max-width:512px;background-color:#ffffff;padding:0px">
			<tbody>			
				<tr>
					<br />
					<td style="padding:0px;padding-bottom:0px!important">
						<div>
							<table role="presentation" valign="top" border="0" cellspacing="0" cellpadding="0" width="100%">
								<tbody>
									<tr>
										<td style="border-width:0;border-bottom-width:1px;border-style:solid;border-color:#e6e6e6;padding-left:24px;padding-right:24px;padding-top:20px;padding-bottom:24px">											
												<h1 style="margin:0;text-align:center;font-size:24px;font-weight:600;line-height:1.25;letter-spacing:0.025em;color:#282828"> Resumen Mensual </h1>
											
										</td>
									</tr>
									<tr>
										<td style="border-width:0;border-bottom-width:1px;border-style:solid;border-color:#e6e6e6;padding:24px">							
												<table role="presentation" valign="top" border="0" cellspacing="0" cellpadding="0" width="100%">
													<tbody>
													<tr style="background-image: url('http://portalestancias.com.ar/images/banner2.png'); background-size: cover; background-position: center; width: 80%; height: 800px; position: static;">
														<td style="text-align: -webkit-center;">
															<table role="presentation" valign="top" border="0" cellspacing="0" cellpadding="0" style="width: 75%;    padding: 8%;">
																	<tbody>	
																		<tr>
																			<td style="overflow:hidden;border-radius:8px">
																				<table role="presentation" valign="top" border="0" cellspacing="0" cellpadding="0" width="100%">
																					<tbody>
																						<tr>
																							<td style="background-color:#edf3f8">
																							<table role="presentation" valign="top" border="0" cellspacing="0" cellpadding="0" width="100%" style="padding-bottom: 40%;padding-top: 40%;    background-color: white;">
																									<tbody>
																										<tr>
																											<td align="center" >
																											<img src="http://portalestancias.com.ar/images/logo-horizontal-email.png" style="width: 100%;">
																											<p style="color: #584f42;font-family: sans-serif; font-size: medium;">
																												<b>Tu Monto del mes de TextoMesEscritoReemplazar es: </b>
																											</p>

																											<div style="background-color: white; border: 0px solid black; width: 100%; text-align: center;">
																												<p style="color: #584f42;font-family: sans-serif;font-size: 35px;"><b>$ TextoMontoReemplazar</b></p>
																											</div>

																											<p style="color: #584f42;font-family: sans-serif; font-size: medium;width: 97%;">
																												<b>Fecha de vencimiento: TextoFechaReemplazar</b>
																											</p>
																											</td>
																										</tr>
																									</tbody>
																								</table>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</a>
										</td>
									</tr>
						
									<tr>
										<td style="background-color:#f3f2f0;padding-left:24px;padding-right:24px;padding-bottom:16px;padding-top:32px">
											<table role="presentation" valign="top" border="0" cellspacing="0" cellpadding="0" width="100%">
												<tbody>
													<tr>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			
			</tbody>
		</table> 
	</div>
</div>