@model DAL.Models.Core.DistribucionDestinatarios
@{
    ViewData["Title"] = "Nueva Lista de Distribución";
}
<form method="post" asp-action="_CreateDestinatario" asp-controller="ListaDistribucion" asp-area="Core" asp-antiforgery="true">
    @Html.AntiForgeryToken()
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="ListaDistribucion.Id" value="@ViewBag.ListaId" type="hidden" />
        <div class="form-group">
            <label asp-for="Destinatario" class="control-label"></label>
            <select-ajax title="Ingrese Nro Documento"
                            class="form-control"
                            url="@Url.Action("DestinatariosComboJson", $"ListaDistribucion")"
                            color="Default"
                            width="100%"
                            name="destinatarioId"
                            class-btn="btn-flat"
                            text-no-results="<h4 class='text-center'>El Usuario no está en el sistema.<br></h3>"></select-ajax>
            <span asp-validation-for="Destinatario" class="text-danger"></span>
            </div>
    </div>
    <div class="box-footer">
        <a class="btn btn-danger" data-dismiss="modal">Cancelar</a>
        <button type="submit" class="btn btn-info pull-right">Agregar</button>
    </div>
</form>

            