@using Commons.HtmlHelpers
@model DAL.Models.Usuario
<form asp-action="_ChangePassword">

    @using (Html.BoxBody())
    {

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="userId" class="form-control" value="@Model.Id" />
        <div class="form-group ">
            <label  class="control-label"> Nueva Contraseña</label>
            <input type="password" name="password" class="form-control" id="NuevaContraseña" />
        </div>

        <div class="form-group ">
            <label class="control-label">Confirmar Contraseña</label>
            <input type="password" name="RepeatPassword" class="form-control" id="ConfirmarContraseña" />
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="mostrarContraseña" />
            <label class="form-check-label" for="mostrarContraseña">Mostrar contraseñas</label>
        </div>

    }

    @using (Html.BoxFooter())
    {
        <div class="col-md-12" style="display: flex; justify-content: right;align-items: center;">
            <div class="form-group ">
                <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                <input type="submit" value="Guardar" class="btn btn-primary pull-right" />
            </div>
        </div>
    }

</form>



<script>
    $(document).ready(function () {


        $('#mostrarContraseña').change(function () {
            var contraseñaInput = $('#NuevaContraseña');
            var confirmarContraseñaInput = $('#ConfirmarContraseña');
            if ($(this).is(':checked')) {
                contraseñaInput.attr('type', 'text');
                confirmarContraseñaInput.attr('type', 'text');
            } else {
                contraseñaInput.attr('type', 'password');
                confirmarContraseñaInput.attr('type', 'password');
            }
        });


        // Definir una función para validar las contraseñas
        function validarContraseñas() {
            // Obtener los valores de las contraseñas
            var nuevaContraseña = $("#NuevaContraseña").val();
            var confirmarContraseña = $("#ConfirmarContraseña").val();

            // Verificar si las contraseñas coinciden
            if (nuevaContraseña !== confirmarContraseña) {
                // Mostrar mensaje de error
                $("#confirmarContraseñaError").text("Las contraseñas no coinciden");
                // Deshabilitar el botón de envío
                $("input[type='submit']").prop("disabled", true);
            } else {
                // Limpiar mensaje de error si las contraseñas coinciden
                $("#confirmarContraseñaError").text("");
                // Habilitar el botón de envío
                $("input[type='submit']").prop("disabled", false);
            }
        }

        // Agregar eventos de entrada a ambos campos de contraseña
        $("#NuevaContraseña, #ConfirmarContraseña").on("input", validarContraseñas);
    });
</script>

