@* Nombre de tu vista Razor, ej: PagoTarjetaReporte.cshtml *@
@using DAL.Models.Core
@model Commons.Models.Page<DAL.Models.Core.PagoTarjeta>

@{
    ViewData["Title"] = "Reporte de Pagos con Tarjeta"; // Opcional: Define un título para la página
}

<div class="box box-info">
    <div class="box-header with-border filtro-grilla">
        <span class="txt-titulo-box">Filtros</span>
    </div>
    <div class="box-body">
        @* No es estrictamente necesario un form si manejas todo con JS *@
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="fechaDesdeFiltro">Fecha Desde</label>
                    <input type="date" class="form-control" id="fechaDesdeFiltro" name="FechaDesde">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="fechaHastaFiltro">Fecha Hasta</label>
                    <input type="date" class="form-control" id="fechaHastaFiltro" name="FechaHasta">
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="estadoFiltro">Estado:</label>
                <select class="form-control" id="estadoFiltro" name="Estado">
                    <option value="">Todos</option>
                    <option value="1">Pendiente</option> @* Ajusta 'value' si tu EstadoPagoId es diferente *@
                    <option value="2">Pagado</option>
                    <option value="3">Aprobado</option>
                    <option value="4">Rechazado</option>
                </select>
            </div>
            <div class="form-group col-md-2" id="divNroDocumentoNotificacion">
                <label id="labelBusqueda">Nro Documento/Nro Tarjeta</label>                
                <select-ajax title="Ingrese Nro "
                             class="form-control"
                             url="/Reportes/PagoTarjetaReportes/NroTarjetaComboJson"
                             color="Default"
                             width="100%"
                             name="NroDocumentoNotificacion"
                             class-btn="btn-flat"
                             text-no-results="<h4 class='text-center'>El Cliente no está en el sistema.<br></h3>"></select-ajax>
            </div>            
            <div class="form-group col-md-2" id="divNroDocumentoNotificacion">
                <label id="labelBusqueda">Cliente</label>
                <select-ajax title="Ingrese Nombre o Apellido "
                             class="form-control"
                             url="/Reportes/PagoTarjetaReportes/NombreApellidoComboJson"
                             color="Default"
                             width="100%"
                             name="nombreApellidoNotificacion"
                             class-btn="btn-flat"
                             text-no-results="<h4 class='text-center'>El Cliente no está en el sistema.<br></h3>"></select-ajax>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label for="montoFiltro">Monto</label>
                    <input type="text" class="form-control" id="montoFiltro" name="Monto">
                </div>
            </div>
            <div class="form-group col-md-2" style="padding-top: 25px;">
                <button class="btn bg-orange btn-sm" id="botonFiltrarReporte">
                    <i class="fa fa-search"><span class="hidden-xs"> Filtrar</span></i>
                </button>
                <a class="btn btn-danger btn-sm" id="botonLimpiarFiltro" href="javascript:void(0);" style="margin-left: 5px;">
                    <i class="fa fa-undo"><span class="hidden-xs"> Limpiar</span></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="divContenido"></div>

    <script>
       $(document).ready(function () {

        $('#botonFiltrarReporte').on('click', function (e) { // <-- Añadido 'e'
            var fechaDesde = $('#fechaDesdeFiltro').val();
            var fechaHasta = $('#fechaHastaFiltro').val();
            var estado = $('#estadoFiltro').val();
            var nroDocumentoNotificacion = $('select[name="NroDocumentoNotificacion"]').val()
            var nombreApellidoNotificacion = $('select[name="nombreApellidoNotificacion"]').val()
            var monto = $('#montoFiltro').val();

            // Muestra el spinner de carga
            //$("#ContenedorProyectos").hide();
          $("#divContenido").html('<div style="text-align-last: center;"><img src="/images/loading.gif" class="loading-spinner" style="width: 7%;" /></div>');

            // Realizar la petición AJAX con los parámetros
            $("#divContenido").load("/Reportes/PagoTarjetaReportes/FiltrarPagosTarjeta/", {
                fechaDesde: fechaDesde,
                fechaHasta: fechaHasta,
                estado: estado,
                nroDocumentoNotificacion: nroDocumentoNotificacion,
                nombreApellidoNotificacion: nombreApellidoNotificacion,
                monto: monto,
            }, function (response, status, xhr) {
                if (status == "error") {
                    var msg = "Error al cargar la página: ";
                    $("#ContenedorProyectos").html(msg + xhr.status + " " + xhr.statusText);
                }
            });
        
        });

        $("#botonLimpiarFiltro").on("click", function()
        {
            $("#fechaDesdeFiltro").val('');
            $("#fechaHastaFiltro").val('');
            $('select[name="NroDocumentoNotificacion"]').selectpicker('val', '');
            $('select[name="nombreApellidoNotificacion"]').selectpicker('val', '');
            $("#montoFiltro").selectpicker('val', '');
           $("#divContenido").empty()
           
        });

     });



    </script>
